SECRET_KEY=cambie-esta-clave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=workflow_db
POSTGRES_USER=workflow_user
POSTGRES_PASSWORD=workflow_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
